{% extends 'base.html.twig' %}

{% block title %}
{{ 'Urls list' | trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Urls list' | trans }}</h1>
    {% if urls is defined and urls|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <th>{{ 'Short Url' | trans }}</th>
                <th>{{ 'Long Url' | trans }}</th>
                <th>{{ 'Create Time' | trans}}</th>
                <th>{{ 'Blocked' | trans }}</th>
                <th>Blocked Till{{ 'Blocked Till' | trans }}</th>
                <th scope="col">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>{{ url.shortName}}</td>
                    <td>{{ url.longName}}</td>
                    <td>{{ url.createTime|date('Y/m/d H:i:s')}}</td>
                    <td>{{ url.isBlocked ? 'Yes' : 'No' }}</td>
                    <td>{{ url.blockTime|date('Y/m/d H:i:s')}}</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'List is empty.' | trans }}
        </p>
    {% endif %}
{% endblock  %}