{% extends 'base.html.twig' %}

{% block title %}
    View url
{% endblock %}

{% block body %}
    <h1>View url</h1>
    {% if url is defined and url|length %}
        <dl>
            <dt>Long Name</dt>
            <dd>{{ url.longName }}</dd>
            <dt>Short Name</dt>
            <dd>{{ url.shortName }}</dd>
            <dt>Create Time</dt>
            <dd>{{ url.createTime |format_date('long') }}</dd>
            <dt>Blocked</dt>
            <dd>{{ url.isBlocked ? 'Yes' : 'No' }}</dd>
            <dt>Blocked Till</dt>
            <dd>{{ url.blockTime |format_date('long') }}</dd>
        </dl>
        <p>
            <a href="{{ url('list') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}