{% extends 'base.html.twig' %}

{% block title %}
    View tag
{% endblock %}

{% block body %}
    <h1>View tag</h1>
    {% if tags is defined and tags|length %}
        <dl>
            <dt>Name</dt>
            <dd>{{ tags.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('tags_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}