{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_list'|trans }}
{% endblock %}

{% block body %}
    <div class="container my-5">
        {% if pagination is defined and pagination.items|length %}

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'tag.name') }}</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>{{ 'label.actions'|trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in pagination.items %}
                        <tr>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.name }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-outline-primary" href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">
                                        {{ 'action.show'|trans }}
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">
                                        {{ 'action.edit'|trans }}
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger" href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">
                                        {{ 'action.delete'|trans }}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <div class="text-center">
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.empty_list'|trans
                } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
