{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.url_data_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.url_data_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'url_data.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.visit_time'|trans, 'url_data.visit_time') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for url_data in pagination.items %}
                <tr>
                    <td>{{ url_data.id }}</td>
                    <td>{{ url_data.visitTime|date('Y/m/d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}